<nav class="navbar is-success">
    <div class="navbar-brand">
      <% if user_signed_in? %>
      <%= link_to posts_url, class: "navbar-item" do %>
      <h1 class="title is-4" style="font-family: cursive;">Outdoors</h1>
        <% end %>
      <% else %>
      <%= link_to root_path, class: "navbar-item" do %>
        <h1 class="title is-4" style="font-family: cursive;">Outdoors</h1>
        <% end %>
        <% end %>
      <div class="navbar-burger burger" data-target="navbarExampleTransparentExample">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>
      
      <% if user_signed_in? %>
      <div id="navbarExampleTransparentExample" class="navbar-menu">
        <div class="navbar-item">
          <%= link_to "投稿一覧", posts_path, class: "navbar-item button is-warning is-light" %>
          
        </div>
        <div class="navbar-item">
          <%= link_to "新規投稿", new_post_path, class: "navbar-item button is-warning is-light" %>

        </div>

        <div class="navbar-end">
          <div class="navbar-item">
            <div class="field is-grouped">
              <p class="control">
                <%= link_to "ユーザ-一覧", users_path, class: " button is-warning is-light" %>
              </p>
              <p class="control">
                <%= link_to "マイページ", user_path(current_user), class: "button is-warning is-light" %>
              </p>
              <p class="control">
                <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "button is-warning is-light" %>
              </p>
        
            </div>
          </div>
        </div>
      </div>
      
      <% else %>
      <div id="navbarExampleTransparentExample" class="navbar-menu">
        <div class="navbar-item">
          <%= link_to "投稿一覧", posts_path, class: "navbar-item button is-warning is-light" %>

        </div>
        <div class="navbar-item">
          <%= link_to "ユーザー一覧", users_path, class: "navbar-item button is-warning is-light" %>

        </div>
        <div class="navbar-end">
          <div class="navbar-item">
            <div class="field is-grouped">
              <p class="control">
                <%= link_to "ログイン", new_user_session_path, class: "button is-warning is-light" %>
              </p>
              <p class="control">
                <%= link_to "新規登録", new_user_registration_path, class: "button is-warning is-light" %>
              </p>
            </div>
          </div>
        </div>
      </div>
    <% end %>

  </nav>